@page
@model SalesWebMvc.Views.Sellers.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
