@page
@model SalesWebMvc.Views.Sellers.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
