@page
@model SalesWebMvc.Views.Sellers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
