@page
@model SalesWebMvc.Views.SalesRecords.GroupingSearchModel
@{
    ViewData["Title"] = "GroupingSearch";
}

<h1>GroupingSearch</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
