@page
@model SalesWebMvc.Views.SalesRecords.SimpleSearchModel
@{
    ViewData["Title"] = "SimpleSearch";
}

<h1>SimpleSearch</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
